body{
  font-family: "Lucida Grande", san serif;
  color: white;
  background-color: black;
}

h1{
  font-size: 64px;
  text-align: center;
}

h2{
  font-size: 30px;
  text-shadow: 5px 5px 2px #808080;
}

p{
  font-size: 24px;
  padding-top: 20px;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 525px;
  width: auto;
  height: auto;
}

div{
  min-height: 150px;
  height: auto;
  padding: 25px 25px 25px 25px;
}

#red{
  background-color: red;
  text-align: right;
}

#blue{
  background-color: blue;
  text-align: left;
}

#yellow{
  background-color: yellow;
  text-align: right;
  color: black;
  text-shadow: 5px 5px 2px #c7e2c7;
}

#green{
  background-color: green;
  text-align: left;
}

footer{
  text-align: right;
  padding-bottom: 10px;
  padding-right: 10px;
}
